body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue' , sans-serif;
    font-size: 100%;
    background-color: #f4f3f0;
}




/**************************************

OVERALL STYLES

***************************************/


img {
    width: 100%;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    transition: all 0.15s ease-out;
    color: #bf3a2e;
}

p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #a5a5a5;
}




/**************************************

HEADER

***************************************/


/*******   HEADER LOGO   **************/

header {
    background-color: #f2f0ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-logo {
    width: 100px;
    transition: all 1s ease-out;
}



/*******   NAVIGATION   **************/

nav {
    text-transform: uppercase;
}

nav a {
    color: #a5a5a5;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    transition: all 1s ease-out;
    padding: 5px;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    padding: 0 1em;
}

.current-menu-item a, nav a:hover {
    color: #bf3a2e;
}





/**********************************

HOME PAGE: NAME AND PHOTO

**********************************/

.home-name {
    background-color: #e8e6e3;
    background-image: url("../img/me2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    color: #fff;
}

.home-name h1 {
    font-weight: 700;
    font-size: 10em;
    color: #fff;
    letter-spacing: 5px;
    margin-left: 40%;
    margin-top: 0;
    padding-top: 20px;
}

.home-name span {
    color: #bf3a2e;
}




/**********************************

HOME PAGE: LINKS / BLOCKS

**********************************/


.home-intro {
    background-color: #fff;
    padding: 140px 10%;
    text-align: center;
    text-transform: uppercase;
}

.home-intro h2 {
    margin-bottom: 100px;
    font-size: 2.2em;
    width: 50%;
    margin: 0 auto 100px;
}

.home-intro p {
    width: 50%;
    margin: 0 auto;
}

.line {
    background-color: #bf3a2e;
    height: 2.5px;
    width: 24px;
    margin: 10px auto 50px;
}


.home-intro a, .welcome a {
    font-weight: bold;
    color: #bf3a2e;
    transition: all 1s ease-out;
}

.home-intro a:hover, .welcome a:hover {
    color: #a5a5a5;
}





/**********************************

HOME: SOCIAL

**********************************/

.home-social {
    background-color: #bf3a2e;
    text-align: center;
    padding: 120px 0 140px;
}

.home-social h3 {
    color: #fff;
    font-size: 2em;
}

.home-social-inner {
    width: 50%;
    margin: 90px auto 0;
    display: flex;
    justify-content: space-around;
}

.home-social-icon {
    width: 45px;
}

.home-social-icon img {
    -webkit-transition: -webkit-transform .7s ease-in-out;
        transition: transform .7s ease-in-out;
}

.home-social-icon img:hover {
    -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}








.main-page {
    background-color: #e8e6e3;
    padding: 60px 3.5%;
}

.wrapper-index {
    width: 50%;
    margin: 0 auto;
}



.main-page-title {
    text-align: center;
    margin-bottom: 80px;
}

.main-page-title h1 {
    border-top: 6px solid #bf3a2e;
    border-bottom: 6px solid #bf3a2e;
    display: inline-block;
    font-size: 3em;
    letter-spacing: 2.5px;
    padding: 30px 8px;
}



/**********************************

PAGE: ABOUT

**********************************/

.about-page-wrap {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 200px;
    max-width: 600px;
    min-width: 400px;
    
}

.about-page-wrap h2, .contact-page-wrap h2 {
    margin-bottom: 20px;
}



/**********************************

PAGE: CONTACT

**********************************/

.contact-page-wrap {
    width: 50%;
    min-width: 400px;
    margin: 0 auto;
}

.wpcf7-form {
    margin-top: 50px;
}

.wpcf7 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #bf3a2e;
    overflow: hidden;
}

.wpcf7 p {
    margin-top: 20px;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
    width: 100%;
    border: none;
    padding: 10px;
}

.wpcf7 input:focus, .wpcf7 textarea:focus {
    outline: none;
}

.wpcf7-submit {
    background-color: #bf3a2e;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    width: 120px;
    padding: 8px;
    display: inline-block;
    border: none;
}

.wpcf7-submit:hover {
    cursor: pointer;
}






/**********************************

PAGE: PORTFOLIO ARCHIVE

**********************************/

.archive-contain {
    margin-bottom: 100px;
    padding: 20px;
    text-align: center;
}

.archive-contain h1 {
    color: #bf3a2e;
    font-size: 3.5em;
    margin-bottom: 80px;
}

.archive-contain h1 span {
    color: #bf3a2e;
}

.project-link a, .project-link h4 {
    color: #a5a5a5;
}

.project-link h4 {
    margin-bottom: 6px;
    padding: 4px;
}



.archive-inner {
    padding-top: 200px;
    height: 300px;
    text-align: center;
}











/**********************************

FOOTER

**********************************/

footer {
    background-color: #f2f0ed;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
}

footer p {
    color: #a5a5a5;
}







/**********************************

MEDIA QUERIES

**********************************/

@media screen and (max-width: 1200px) {
    
    .home-name {
        font-size: .8em;
        height: 550px;
    }

}




@media screen and (max-width: 880px) {
    
    header {
        display: block;
    }
    
    nav ul {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }
    
    nav li {
        width: 100%;
        margin: 2px;
    }
    
    .header-logo {
        width: 80px;
        margin: 0 auto;
    }
    
    .home-name {
        height: 380px;
        font-size: .6em;
    }
    
    .home-name h1 {
        margin-left: 30%;
    }

}




@media screen and (max-width: 575px) {
    
    .home-name {
        font-size: .3em;
        background-size: cover;
    }
    
    .home-name h1 {
        margin-left: 10%;
        padding-top: 80px;
    }
    
    .home-intro {
        padding: 80px 6%;
    }
    
    .home-intro h2, .home-intro p {
        width: 100%;
    }
    
    .home-intro h2 {
        margin-bottom: 50px;
    }
    
    .home-intro p {
        font-size: .85em;
    }
    
    .home-social {
        padding: 100px 0 80px;
    }
    
    .home-social-inner {
        width: 65%;
    }
    
    .home-social-icon {
        width: 35px;
    }
    
    .contact-page-wrap, .about-page-wrap {
        width: 85%;
        min-width: 250px;
        margin: 0 auto;
    }
    
    .archive-contain h1 {
        font-size: 2.75em;
        margin-bottom: 40px;
    }
    

    
}


