body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Helvetica Neue' , sans-serif;
    font-size: 100%;
    background-color: #f4f3f0;
}




/**************************************

OVERALL STYLES

***************************************/


img {
    width: 100%;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    transition: all 0.15s ease-out;
    color: #bf3a2e;
}

p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}





/**************************************

HEADER

***************************************/


/*******   HEADER LOGO   **************/

header {
    background-color: #f2f0ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-logo {
    width: 100px;
    transition: all 1s ease-out;
}



/*******   NAVIGATION   **************/

nav {
    text-transform: uppercase;
}

nav a {
    color: #a5a5a5;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    transition: all 1s ease-out;
    padding: 5px;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    padding: 0 1em;
}

.current-menu-item a, nav a:hover {
    color: #bf3a2e;
}





/**********************************

HOME PAGE: NAME AND PHOTO

**********************************/

.home-name {
    background-color: #e8e6e3;
    background-image: url("../img/me2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    color: #fff;
}

.home-name h1 {
    font-weight: 700;
    font-size: 10em;
    color: #fff;
    letter-spacing: 5px;
    margin-left: 40%;
    margin-top: 0;
    padding-top: 20px;
}

.home-name span {
    color: #bf3a2e;
}




/**********************************

HOME PAGE: LINKS / BLOCKS

**********************************/

.welcome {
    text-align: center;
    height: 400px;
    padding-top: 200px;
}

.welcome h2 {
    font-size: 3.5em;
    display: inline-block;
    border-top: 5px solid #bf3a2e;
    border-bottom: 5px solid #bf3a2e;
    padding: 10px 0;
    margin-bottom: 40px;
}

.welcome p {
    color: #bf3a2e;
    text-transform: uppercase;
    font-size: 1.5em;
}

.welcome img {
    width: 45px;
    margin-top: 100px;
}





.home-links {
    background-color: #e8e6e3;
    padding: 200px 20px;
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
}

.home-links h2 {
    margin-bottom: 12px;
}

.home-block {
    width: 40%;
    max-width: 500px;
}

.home-block a, .welcome a {
    font-weight: bold;
    color: #bf3a2e;
    transition: all 1s ease-out;
}

.home-block a:hover, .welcome a:hover {
    color: #a5a5a5;
}





/**********************************

HOME: SOCIAL

**********************************/

.home-social {
    background-color: #bf3a2e;
    text-align: center;
    padding: 120px 0 140px;
}

.home-social h3 {
    color: #fff;
    font-size: 2em;
}

.home-social-inner {
    width: 50%;
    margin: 90px auto 0;
    display: flex;
    justify-content: space-around;
}

.home-social-icon {
    width: 45px;
}

.home-social-icon img {
    -webkit-transition: -webkit-transform .7s ease-in-out;
        transition: transform .7s ease-in-out;
}

.home-social-icon img:hover {
    -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}








.main-page {
    background-color: #e8e6e3;
    padding: 60px 3.5%;
}

.wrapper-index {
    width: 50%;
    margin: 0 auto;
}



/**********************************

PAGE: CONTACT

**********************************/

.contact-page-wrap {
    width: 50%;
    margin: 0 auto;
}

.wpcf7 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #bf3a2e;
    overflow: hidden;
}

.wpcf7 p {
    margin-top: 20px;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea {
    width: 100%;
    border: none;
    padding: 10px;
}

.wpcf7 input:focus, .wpcf7 textarea:focus {
    outline: none;
}

.wpcf7-submit {
    background-color: #bf3a2e;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    width: 120px;
    padding: 8px;
    display: inline-block;
    border: none;
}

.wpcf7-submit:hover {
    cursor: pointer;
}



/**********************************

FOOTER

**********************************/

footer {
    background-color: #f2f0ed;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
}

footer p {
    color: #a5a5a5;
}







/**********************************

MEDIA QUERIES

**********************************/

@media screen and (max-width: 1200px) {
    
    .home-name {
        font-size: .8em;
        height: 550px;
    }

}




@media screen and (max-width: 880px) {
    
    header {
        display: block;
    }
    
    nav ul {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }
    
    nav li {
        width: 100%;
        margin: 2px;
    }
    
    .header-logo {
        width: 80px;
        margin: 0 auto;
    }
    
    .home-name {
        height: 380px;
        font-size: .6em;
    }
    
    .home-name h1 {
        margin-left: 30%;
    }

}




@media screen and (max-width: 575px) {
    
    
    .home-name {
        height: 325px;
        font-size: .5em;
    }
    
    
    .welcome {
        height: 300px;
        padding: 80px 0 40px;
        font-size: .9em;
    }
    
    .home-links {
        padding: 100px 20px;
        font-size: 1em;
        flex-wrap: wrap;
    }
    
    .home-block {
        width: 90%;
    }
    
    .home-block:nth-of-type(1) {
        margin-bottom: 40px;
    }
    
    .home-social {
        padding: 100px 0 80px;
    }
    
    .home-social-inner {
        width: 65%;
    }
    
    .home-social-icon {
        width: 35px;
    }

    
}
